<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Register with Snippet<h1>
    <form method="post" action="/log">
      <input type="text" name="username" placeholder="create Username">
      <input type="text" name="firstName" placeholder="First Name">
      <input type="text" name="lastName" placeholder="Last Name">
      <input type="email" name="email" placeholder="Email">  
      <input type="password" name="password" placeholder="create password">
      <input type="submit" value="suubmit">
    </form>
    <form method="post" action="/sign-in">
      <input type="submit" value="Already have an account">
    </form>

  </body>
</html>
